body {
  font-family: 'Open Sans', Verdana, Geneva, sans-serif, sans-serif;
}

h3 {
	font-size: medium;
	margin: 1px;
	margin: 1px;
}

#spacewrapper {
  height: 500px;
  width: 750px;
}

#switch {
  float: right;
  font-size: small;
}

#switcher {
  color: #000;
  text-decoration: none;
}

#instructions {
  font-size: small;
}

#leftelements {
  display: inline-block;
  vertical-align: top;
  float: left;
  
  width: 350px;
  height: 500px;
  overflow-y:auto;
  
  margin: 1px;
  border: none;
  padding: 2px;
  
}

#rightelements {
  display: inline-block;
  vertical-align: top;
  float: left;
  
  width: 350px;
  height: 500px;
  overflow-y:auto;
  
  margin: 1px;
  border: none;
  padding: 2px;
}

#hiddenspace {
  display: none;
}

.element-right {
  border-collapse: collapse;
  margin: 5px;
}

.element-left {
  float: right;
  border-collapse: collapse;
  margin: 5px;
}


.label-left {
    background-color: #CCC;
  background: linear-gradient(to top, #ccc 0%,#fafafa 100%);
  box-shadow: inset 1px 1px 5px #ddd, 0 0 2px #000;

  text-align: right;
  padding-right: 10px;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.content {
  position: relative;
  width: 314px;
  padding: 5px;
  border: 1px solid #999;
  background-color: #fff;
  display: inline-block;
}

.left-text {  
  text-align: left;
  display: inline-block;
}

.left-image { 
  text-align: center;
  display: inline-block;
}


.label-right {
    background-color: #CCC;
  background: linear-gradient(to top, #ddd 0%,#fafafa 100%);
  box-shadow: inset 1px 1px 5px #ddd, 0 0 2px #000;
  
  text-align: left;
  padding-left: 10px;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.right-text {
  text-align: left;
  display: inline-block;
}

.right-image {
  text-align: center;
  display: inline-block;
}


.drop-area {
  background-color: #eee;
  box-shadow: inset 1px 1px 8px #666;
  
  text-align: left;
  padding-left: 10px;
  margin-bottom: 20px;
  min-height: 20px;

  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.drophighlight {
  border: 3px inset #666;
}

.delete {
  border: 0;
  cursor: pointer;
  color: red;
  margin: 1ex;
  font-size: large;
}

.icon {
  width: 100px;
}

.accessicon {
  width: 200px;
}

.bigelement{
  display: none;
}

.match-indicator {
  list-style-type: none;
  padding-left: 10px;
  margin: 0;
}

.sr {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.ui-widget-overlay {
  background: #000;
}







.assign-options {
  border: 1px solid blue;
  background: white;
  color: blue;
  float: right;
}

.save-options {
  border: 1px solid green;
  background: white;
  color: green;
}

.cancel {
  border: 1px solid transparent;
  background: white;
}

.popup-menu {
  position: absolute;
  width: 300px;
  z-index: 10;
  background: #f6f6f6;
  border: 1px solid #ccc;
  padding: 10px;
  /*top: 55px;
  right: 0;*/
}

/*.popup-menu:before {
  content: "";
  display: block;
  position: absolute;
  top: -9px;
  right: 16px;
  height: 16px;
  width: 16px;
  background: #f6f6f6;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}*/

.popup-options {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 90%;
}

.popup-options li {
  padding: 5px 0;
}

.popup-options li label {
  font-weight: 700;
}

.popup-options li input[type="checkbox"] {

}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}